html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    width: 1114px;
    margin: 0 auto;
}
.site-logo {
    display: inline-block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.page-header {
    margin-bottom: 110px;
}
.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

.site-navigation a {
    text-decoration: none;
    color: #140606;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans";
    letter-spacing: -0.28px;
}

.site-navigation a:hover {
    color: #1abc9c;
}

.site-navigation li {
    margin-right: 30px;
    float: left;
}

.site-navigation li:last-child {
    margin-right: 0;
}

/* .product {
    margin-bottom: 104px;
} */


/* PRODUCT */

h2 {
    color: #555252;
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: -0.96px;
    margin: 0 auto;
    margin-bottom: 130px;
}

h2::after {
    content: "";
    display: block;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin-top: 30px;
}

.product-list-item {
    width: 256px;
    margin-right: 26px;
    margin-bottom: 30px;
    height: 322px;
    padding: 0;
    float: left;
    margin: 0 12px;
    cursor: pointer;
}

.product-list-item:nth-of-type(4n) {
    margin-right: 0;
}

.img-product {
    overflow: hidden;
    height: 282px;
    line-height: 282px;
    width: 256px;
    text-align: center;
}

.wrp {
    height: 40px;
    line-height: 40px;
    background: #323232;
    overflow: hidden;
    color: #fff;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    /* transition-duration: 0.3s; */
}


.product-name {
    width: 200px;
    padding-left: 14px;
    /* display: block;
    width: 200px;
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: black; */
}

.product-price {
    width: 55px;
    float: right;
    background: #8c8c8c;
    padding: 0 12px;
    transition-duration: 0.3s;
    /* display: block;
    width: 56px;
    height: 40px;
    padding: 0;
    margin: 0;
    float: right;
    background-color: rgba(0, 0, 0, .1); */
}

.product-list-item:hover .wrp {
    background: #1abc9c;
}

.product-list-item:hover .product-price {
    background: #7fd9c7;
}